= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :content, as: :bootsy
    = f.input :tag_list, input_html: { data:{ role:'tagsinput' }, value: @article.tag_list.join(",") }, placeholder: 'Etiquetas separadas por coma...'
    = f.association :user
    = f.input :important

  .form-actions
    = f.button :submit
