= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: 'Título'
    = f.input :content, as: :summernote, label: 'Contenido'
    = f.input :tag_list, input_html: { data:{ role:'tagsinput' }, value: @article.tag_list.join(",") }, placeholder: 'Etiquetas separadas por coma...', label: 'Etiquetas'
    = f.hidden_field :user_id, :value => current_user.id
    = f.input :important

  .form-actions
    = f.button :submit, class: 'btn btn-warning'
