.container
  %article.article-container
    %h2.content-title
      = @article.title
      - if current_user
        = link_to edit_article_path(@article), :class => 'btn btn-warning btn-sm' do
          Editar
    %p.text-muted
      = fa_icon 'user'
      = User.find(@article.user_id).full_name
      \|
      = fa_icon 'calendar'
      = @article.created_at.strftime("%d/%m/%y")
      %a.btn.btn-twitter.btn-xs{ :href => "https://twitter.com/share", 'data-hashtags' => "FuerzaSIPANAB" }
        = fa_icon 'twitter'
        Tweet
      %script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      %a.btn.btn-xs.btn-facebook{ :href => 'https://www.facebook.com/sharer/sharer.php?u=' }
        = fa_icon 'facebook'
        Like
    %p
      - @article.tag_list.each do |tag|
        = link_to tag_path(tag) do
          %span.label.label-warning
            = tag
    .content
      = @article.content.html_safe
    %p
      %a.btn.btn-twitter.btn-xs{ :href => "https://twitter.com/share", 'data-hashtags' => "FuerzaSIPANAB" }
        = fa_icon 'twitter'
        Tweet
      %script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      %a.btn.btn-xs.btn-facebook{ :href => 'https://www.facebook.com/sharer/sharer.php?u=' }
        = fa_icon 'facebook'
        Like
    #disqus_thread
    %script{:type => "text/javascript"}
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'sipanab'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    %noscript
      Please enable JavaScript to view the
      %a{ :href => "http://disqus.com/?ref_noscript"}
        comments powered by Disqus.
    %a.dsq-brlink{ :href => "http://disqus.com" }
      comments powered by
      %span.logo-disqus
        Disqus
