= simple_form_for(@user) do |f|
  = f.error_notification
  .form-inputs
    = f.input :username, input_html: { placeholder: 'Usuario' }, label: 'Usuario'
    = f.input :password, label: 'Contrase単a', input_html: { placeholder: 'Nueva Contrase単a' }
    = f.input :password_confirmation, label: 'Confirmar Contrase単a', input_html: { placeholder: 'Confirmar Nueva Contrase単a' }
  .form-actions
    = f.button :submit
