= simple_form_for(@user) do |f|
	= f.error_notification
	.form-inputs
		= f.input :email, input_html: { placeholder: 'Correo Electrónico' }, label: 'Email'
		= f.input :full_name, input_html: { placeholder: 'Nombre del Usuario' }, label: 'Nombre'
		- if action_name == 'new'
			= f.input :password, label: 'Contraseña', input_html: { placeholder: 'Nueva Contraseña' }
			= f.input :password_confirmation, label: 'Confirmar Contraseña', input_html: { placeholder: 'Confirmar Nueva Contraseña' }
	.form-actions
		= f.button :submit
