.container
  .user.col-lg-6.center-block
    = simple_form_for(@user) do |f|
      = f.error_notification
      .form-inputs
        = f.input :password, label: 'Nueva Contrase単a', input_html: { placeholder: 'Nueva Contrase単a' }
        = f.input :password_confirmation, label: 'Confirmar Contrase単a', input_html: { placeholder: 'Confirmar Nueva Contrase単a' }
      .form-actions
        = f.button :submit
