.jumbotron
  %h2
    = @section.name
  %p
    = @section.content.html_safe
  %p
    = link_to edit_section_path(@section), class: 'btn btn-warning btn-lg' do
      = fa_icon 'pencil'
      Editar
\|
= link_to 'Back', sections_path
