.container
  .document-container
    %h1 Documentos
    .col-lg-8.center-block
      %table.table.table-bordered
        %thead
          %tr
            %th Doc file
            %th Description
            %th
            %th
            %th
        %tbody
          - @documents.each do |document|
            %tr
              %td
                = link_to document.doc_file.url
              %td= document.description
              %td= link_to 'Show', document
              %td= link_to 'Edit', edit_document_path(document)
              %td= link_to 'Destroy', document, :method => :delete, :data => { :confirm => 'Are you sure?' }

    = link_to 'Agregar Documento', new_document_path, :class => 'btn btn-warning btn-sm'
