.container
  .document-container
    %h3 Documentos
    .col-lg-8.center-block
      %table.table.table-bordered
        %thead
          %tr
            %th Documento
            %th Descripción
            %th
        %tbody
          - @documents.each do |document|
            %tr
              %td
                = link_to File.basename(document.doc_file.path), document.doc_file.url
              %td= document.description
              %td.centered
                = link_to edit_document_path(document), :class => 'btn btn-xs btn-primary' do
                  = fa_icon 'pencil'
                  Editar
                = link_to document, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger' do
                  = fa_icon 'times'
                  Eliminar

    = link_to 'Agregar Documento', new_document_path, :class => 'btn btn-warning btn-sm'
