= simple_form_for(@image)  do |f|
  = f.error_notification

  .form-inputs
    = f.file_field :picture, accept: 'image/png,image/gif,image/jpeg'
    = f.input :caption

  .form-actions
    = f.button :submit
