
.container
  .gallery
    %h2 Galería
    - if current_user
      = link_to 'Agregar Imagen', new_image_path, :class => 'btn btn-warning'
    %br
    %br
    #myLightbox.row
      - @images.each do |image|
        .col-lg-4
          .thumbnail
            %a{ :href => image.picture.url, 'data-toggle' => "lightbox", 'data-gallery' => "multiimages", 'data-title' => image.caption, 'data-footer' => image.created_at.strftime("%d/%m/%y") }
              = image_tag image.picture.url(:medium), :class => 'img-responsive'
            - if current_user
              .caption.thumbnail-btn
                = link_to edit_image_path(image) do
                  .btn.btn-xs.btn-primary
                    = fa_icon 'pencil'
                    Editar
                = link_to image, :method => :delete, :data => { :confirm => 'Está seguro?' } do
                  .btn.btn-xs.btn-danger
                    = fa_icon 'trash-o'
                    Borrar